<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erradns.Sophix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SophixStubApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sophix"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.erradns.Activity.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.AboutActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.MyinfoActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.ForgetPwdActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.StartActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erradns.Activity.MainActivity"
            android:exported="true" >
        </activity>
        <activity
            android:name="com.erradns.Activity.BaseActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.LoginActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>