<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.erradns.Sophix">
    <!--允许程序设置内置sd卡的读权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许访问网络，必选权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许获取粗略位置，若用GPS实现定位小蓝点功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--允许写设备缓存，用于问题排查-->
    <!--    <uses-permission android:name="android.permission.WRITE_SETTINGS" />-->
    <application
        android:name=".SophixStubApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sophix"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.erradns.Activity.MoneyActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.FeedbackActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.AboutActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.MyinfoActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.ForgetPwdActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.erradns.Activity.MainActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.erradns.Activity.BaseActivity"
            android:exported="true" />
        <activity
            android:name="com.erradns.Activity.LoginActivity"
            android:exported="true"></activity>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="95686dbc934c0d31f3b86a67c757be0f" />
    </application>

</manifest>